@import "~iview/src/styles/index.less";

@primary-color: #2d8cf0;

html,
body,
#app,
.ivu-layout {
    height: 100%;
}
/// *****************  ivu-layout
.ivu-layout-header {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    background: #000;
}

//*************************  iview-table
.ivu-table-cell {
    padding-left: 4px;
    padding-right: 4px;
}

///*********************  ivu-page
.ivu-page {
    margin-top: 20px;
}

/// ******************* ivu-form
.ivu-form-item {
    margin-bottom: 16px;
}

/// ******************* ivu-col
.ivu-col {
    margin-bottom: 16px;
}

.action {
    .ivu-btn-text {
        color: @primary-color;
    }
}

///******************* ivu-input
.ivu-input {
    font-size: 14px;
}
