@import '~iview/src/styles/index.less';

@primary-color: #2d8cf0;


html,
body,
#app,
.layout {
    height: 100%;
    >.ivu-layout{
        height: 100%;
    }
}
/// *****************  ivu-layout
.ivu-layout-header{
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    background: #000;
}





//*************************  iview-table
.ivu-table-cell{
    padding-left: 4px;
    padding-right: 4px;
}



///*********************  ivu-page
.ivu-page{
    margin-top: 20px;
}






.action {
    .ivu-btn-text{
        color: @primary-color;
    }
}