@import "~iview/src/styles/index.less";

@primary-color: #2d8cf0;

html,
body,
#app,
.layout-wrapper {
    height: 100%;
}
/// *****************  ivu-layout
.ivu-layout-header {
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    background: #000;
}

//*************************  iview-table
.ivu-table th,
.ivu-table td {
    height: 38px;
}
.ivu-table-cell {
    padding-left: 4px;
    padding-right: 4px;
}

///*********************  ivu-page
.ivu-page {
    margin-top: 20px;
}

/// ******************* ivu-form
.ivu-form-item {
    margin-bottom: 16px;
}

/// ******************* ivu-col
.oper .ivu-col {
    margin-bottom: 16px;
}

.action {
    .ivu-btn-text {
        color: @primary-color;
    }
}

///******************* ivu-input
.ivu-input {
    font-size: 14px;
}
.ivu-menu-vertical .ivu-menu-item,
.ivu-menu-vertical .ivu-menu-submenu-title {
    padding-top: 10px;
    padding-bottom: 10px;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical
    .ivu-menu-submenu-title-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical
    .ivu-menu-item-active:not(.ivu-menu-submenu):hover,
.ivu-menu-dark.ivu-menu-vertical
    .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover {
    background: #2d8cf0 !important;
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),
.ivu-menu-dark.ivu-menu-vertical
    .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
    color: #ffffff;
}
